.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.map-container {
  flex: 2;
}

.table-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

@media only screen and (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .map-container,
  .table-container {
    flex: none;
    height: 50%;
  }
}
