.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.tabs-container {
  display: flex;
  padding: 10px 0;
  gap: 20px;
}

.tab {
  padding: 10px 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.tab.active {
  border-bottom: 2px solid #3e4970;
  color: #3e4970;
  font-weight: bold;
}

.content-container {
  display: flex;
  flex: 1;
}

.map-container {
  flex: 2;
}

.table-container {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

@media only screen and (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .map-container,
  .table-container {
    flex: none;
    height: 50%;
  }
}
